.container.container-page{
    max-width: 30cm;
}

/* Header */
header{
    background: #374458;
    padding: 20px;
    .name{
        color: #FFF;
    }
    .title{
        color: #4b96db;
    }
    .description{
        color: #FFF;
    }
    .photo{
        width: 150px;
        height: 150px;
        border-radius: 100%;
        border: 7px solid #4f90cd;
        overflow: hidden;
        img{
            max-width: 100%;
            height: auto;
        }
    }
}

.section-contact{
    background: #2b343f;
    padding: 20px;
    color: #FFF;
}

.icon{
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    &.i-mail{ background: url("icons/icon-mail.png")}
    &.i-github{ background: url("icons/icon-github.png")}
    &.i-location{ background: url("icons/icon-location.png")}
    &.i-medium{ background: url("icons/icon-medium.png")}
    &.i-phone{ background: url("icons/icon-phone.png")}
    &.i-www{ background: url("icons/icon-www.png")}
}

.resume-body{
    padding: 20px;
    background: #FAFAFA;
}
.section-resume{
    .heading{
        color: var(--blue);
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 1.8rem;
    }
    .item-header{
        color: #222;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0;
    }
    .item-sub-header{
        color: #222;
        font-size: 1.1rem;
        font-weight: normal;
        display: block;
    }
    .item{
        a{
            display: inline-block;
            &:after{
                content: " 🔗";
            }
            &:after{
                display: none;
            }
            &.none-link:after{
                content: "";
            }
        }
        p{
            margin-bottom: .5rem;
        }
    }
}

@media print{
    .section-resume .item a:after{
        display: none;
    }
}
.attention-small{
    color: var(--blue);
    font-size: .9rem;
    margin: 0;
}
.small{
    font-size: .9rem;
}

.skill{
    background: var(--blue);
    border-radius: 5px;
    display: inline-block;
    padding: 4px 8px;
    color: #FFF;
    margin-bottom: 5px;
}